
<app-card></app-card>

<!--
 <hr> 
  <div class="container">
  <div class="row"></div>
  <div class="col-12">
    <div class="myblock" (mousemove)="getCoords($event)"> </div>
    <p>X:{{blockX}} Y:{{blockY}}</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p *ngIf="flag==true"> Flag vkl</p>
      <p *ngIf="flag ==false"> Flag vikl</p>

      <ng-container *ngIf="flag ==true; else elseTemplate">
        <p>Flag vkluchen</p>
      </ng-container>
      <ng-template #elseTemplate>
        <p> flag vikluchen </p>
      </ng-template>

    </div>
  </div>
</div>

<div class="container mb-3">
  <div class="row">
    <div class="col-3" *ngFor="let item of someArray;
      let item_index = index;
      let item_first = first
      let item_last = last
      ">
      {{ item_index+1 }}:{{item}}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <p [style.font-size]="fontSize + 'px'" [ngClass]="{'color_green': buttonEnable}">Text</p>
    </div>
  </div>
</div>  <hr -->